.book-list-wrapper {
  width: 95%;
  margin: 3rem auto;

  .input-search {
    text-align: center;
    padding: 0rem 0rem 3rem;
    min-height: 150px;
    label {
      display: block;
    }
    input {
      border: 1px solid #77a2d08a;
      width: 30%;
      margin: auto;
      padding: 7px;
      border-radius: 6px;
      transition: background-color 0.2s ease-in;
      cursor: pointer;

      &:hover {
        background-color: rbga(0,0,0,0.5);
      }
    }
  }

  table {
    border: 1px solid #77a2d08a;
  
    thead {
      border: 1px solid #77a2d08a;
      tr {
        border: 1px solid #77a2d08a;

        th {
          border-top: 1px solid #77a2d08a;
          border-bottom: 1px solid #77a2d08a;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  
    tbody {
      border: 1px solid #77a2d08a;
      tr {
        transition: background-color 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: rgba(0,0,0, 0.05);
        }
        td {
          border-bottom: 1px solid #77a2d08a;
          font-size: 14px;
          font-size: 300;
          color: gray;
        }
      }
    }
  }
}