
  <div class="book-list-wrapper">
    <div class="input-search">
      <label for="">Sreach Box</label>
      <input type="text" [(ngModel)]="searchName">
    </div>
    <table class="table">
    <thead>
    <tr>
      <th scope="col" *ngFor="let header of headers">{{ header }}</th> 
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th> 
  
    </tr>
    </thead>
    <tbody >
      <ng-container *ngIf="allBooks$|async as books">
        <tr *ngFor="let book of books | filter:searchName">
          <td>{{ book.name | filter:serachBook}}</td>
          <td>{{ book.isbn_code  }}</td>
          <td>{{ book.authors.length?book.authors[0].first_name:'No Author' }}</td>
          <td>{{ book.publishing.name }}</td>
          <td>{{ book.publishing.establish_year }}</td>
          <td>{{ book.expenditure  }}</td>
          <td>
            <button 
              routerLink="/bookitem/{{book.id}}" 
              type="button" class="btn btn-outline-info"
              > Show </button> 
          </td>
          <td>
            <button 
              type="button" 
              class="btn btn-outline-primary"
              routerLink="/newbook/edit/{{book.id}}"
              > Update </button>
          </td>
          <td>
            <button 
            type="button" 
            class="btn btn-outline-danger"
            (click)="delete(book.id)" 
            > Delete </button>
          </td>
        </tr>
      </ng-container>
      
   
    </tbody>
    </table>
  </div>



    