
<span *ngIf="error">{{ error }}</span>

<div class="container"> 
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="library-form">
    <div class="row">
      <div class="col-md-12" formGroupName="book">
        <h2>{{ formTitle }}</h2>
        <div class="form-group">
          <label for="book">Book Name</label>
          <input id="name"  class="form-control" formControlName="name"/>
          <div 
            *ngIf="bookGroup.controls['name'].invalid && (bookGroup.controls['name'].dirty || bookGroup.controls['name'].touched)"
            class="alert alert-danger"
          >
            <div *ngIf="bookGroup.controls['isbn_code'].errors.required">
              Name is required.
            </div>
            <div *ngIf="bookGroup.controls['isbn_code'].errors.minlength">
              Name must be at least 2 characters long.
            </div>
          </div>
  
        </div>
        <div class="form-group">
          <label for="isbn_code">ISBN Code</label>
          <input id="isbn_code" formControlName="isbn_code" class="form-control required"/>
         
             <div *ngIf="bookGroup.controls['isbn_code'].invalid && (bookGroup.controls['isbn_code'].dirty || bookGroup.controls['isbn_code'].touched)"
                class="alert alert-danger">
  
              <div *ngIf="bookGroup.controls['isbn_code'].errors.required">
                ISBN Code is required.
              </div>
              <div *ngIf="bookGroup.controls['isbn_code'].errors.minlength">
                Name must be at least 4 characters long.
              </div>
            </div>
        </div>

        <app-add-authors></app-add-authors>
       
        <div class="form-group">
          <label for="publishing_name"> publishing Name </label>
          <input id="publishing_name" formControlName="publishing_name" class="form-control"/>
          <div 
            *ngIf="bookGroup.controls['publishing_name'].invalid && (bookGroup.controls['publishing_name'].dirty || bookGroup.controls['publishing_name'].touched)"
            class="alert alert-danger"
          >
            <div *ngIf="bookGroup.controls['publishing_name'].errors.required">
              Publishing Name is required.
            </div>
            <div *ngIf="bookGroup.controls['publishing_name'].errors.minlength">
              Publishing Name must be at least 3 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="publishing_year">Year Of The Publising Book</label>
          <input type="date" id="publishing_year" formControlName="publishing_year" class="form-control" />
          <div 
            *ngIf="bookGroup.controls['publishing_year'].invalid && (bookGroup.controls['publishing_year'].dirty || bookGroup.controls['publishing_name'].touched)"
            class="alert alert-danger"
          >
            <div *ngIf="bookGroup.controls['publishing_year'].errors.required">
              Publishing Name is required.
            </div>
            <div *ngIf="bookGroup.controls['publishing_year'].errors.minlength">
              Publishing Name must be at least 3 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="expenditure">Place Of Expenditure </label>          
          <input id="expenditure" formControlName="expenditure" class="form-control" />
          <div 
            *ngIf="bookGroup.controls['expenditure'].invalid && (bookGroup.controls['expenditure'].dirty || bookGroup.controls['expenditure'].touched)"
            class="alert alert-danger"
          >
            <div *ngIf="bookGroup.controls['expenditure'].errors.required">
              Place Of Expenditure is required.
            </div>
            <div *ngIf="bookGroup.controls['expenditure'].errors.minlength">
              Place Of Expenditure must be at least 2 characters long.
            </div>
          </div>
        </div>
      </div>
      
      <ng-container>
        <div class="col-md-12" formGroupName="authors">
        <h2> Books Authors</h2>
        <div class="form-group">
          <label for="first_name">First Name</label>
          <input id="first_name" formControlName="first_name" class="form-control">
            <!-- <div *ngIf="first_name.invalid && (first_name.dirty || first_name.touched)"
                class="alert alert-danger">
              <div *ngIf="first_name.errors.required">
                first_name is required.
              </div>
              <div *ngIf="first_name.errors.minlength">
                Name must be at least 4 characters long.
              </div>
            </div> -->
        </div>
        <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" id="last_name" formControlName="last_name" class="form-control" >
            <!-- <div *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)"
                class="alert alert-danger">
    
              <div *ngIf="last_name.errors.required">
                last_name is required.
              </div>
              <div *ngIf="last_name.errors.minlength">
                Name must be at least 4 characters long.
              </div>
            </div> -->
        </div>
        <div class="form-group">
          <label for="date_of_birth">Date Of Birth</label>
          <input id="date_of_birth" formControlName="date_of_birth" class="form-control" type="date">
            <!-- <div *ngIf="date_of_birth.invalid && (date_of_birth.dirty || date_of_birth.touched)"
                class="alert alert-danger">
              <div *ngIf="date_of_birth.errors.required">
                date_of_birth is required.
              </div>
              <div *ngIf="date_of_birth.errors.minlength">
                Name must be at least 4 characters long.
              </div>
            </div> -->
        </div> 
      </div> 
      </ng-container>
      
      <ng-container >
        <div class="col-md-12" formGroupName="publishing">
          <h2>Books Publishing</h2>
          <div class="form-group">
            <label for="name">publising Name</label>
            <input id="name" type="text" formControlName="name" class="form-control" />
              <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
                  class="alert alert-danger">
        
                <div *ngIf="name.errors.required">
                  name is required.
                </div>
                <div *ngIf="name.errors.minlength">
                  Name must be at least 4 characters long.
                </div>
              </div> -->
          </div>
          <div class="form-group">
            <label for="establish_year">estabish year </label>
            <input id="establish_year" type="text" formControlName="establish_year" class="form-control" />
              <!-- <div *ngIf="esttabish_year.invalid && (esttabish_year.dirty || esttabish_year.touched)"
                  class="alert alert-danger">
  
                <div *ngIf="esttabish_year.errors.required">
                  esttabish_year is required.
                </div>
                <div *ngIf="esttabish_year.errors.minlength">
                  esttabish_year must be at least 4 characters long.
                </div>
              </div> -->
          </div>
          <div class="form-group">
            <label for="name">publising Name</label>
            <input type="text" class="form-control" id="name" formControlName="country"/>
          </div> 
        </div> 
      </ng-container>
      
     
    </div>
    <div class="submit-btn">
      <button 
      type="submit"
      class="btn btn-primary"
      >
        Submit
    </button>
    </div>
  </form>
</div>
