<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/blog/new" class="logo">The Local Libabry</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/" class="item">Book List</a>
      </li>
      <li class="nav-item dropdown">
        <a routerLink="newbook" class="item">Add New Book </a>
      </li>
      <li class="nav-item dropdown">
        <a routerLink="notifications" class="item">Nofications</a>
      </li>
    </ul>
  </div>
</nav>